## Estatística descritiva 
### Média 
Obter a média de um conjunto de valores requer operações aritméticas básicas. \
Exemplo: Obtenha a média dos valores 1, 2, 3, 3

In [84]:
l = [1,2,3,3]

sum(l)/len(l)

2.25

Existe uma função capaz de calcular diretamente a média de um conjunto?

In [85]:
import statistics as st

In [86]:
st.mean(l)

2.25

Agora podemos calcular a mediana e a moda.

In [87]:
st.median(l)

2.5

In [88]:
st.mode(l)

3

Como calcular a amplitude?

In [89]:
max(l) - min(l)

2

Como obter o desvio padrão?

In [90]:
st.stdev(l)

0.9574271077563381

Como obter a variância?

In [91]:
st.variance(l)

0.9166666666666666

Como obter os quartis?

In [92]:
st.quantiles(l)

[1.25, 2.5, 3.0]

Como obter a amplitude interquartil?

In [93]:
q =st.quantiles(l)

q[2] - q[0]

1.75

Exercício: \
Obter os quartis e a amplitude interquartil do conjunto: 70, 85, 90, 98, 104, 105, 107

In [94]:
ll =[70, 85, 90, 98, 104, 105, 107]
st.quantiles(ll)

[85.0, 98.0, 105.0]

In [95]:
q = st.quantiles(ll)
q[2] - q[0]

20.0

Vamos agora trabalhar com o dataset Tips (Gorjetas). Esse dataset contém dados das contas de clientes de um restaurante, informando o total da conta, o valor da gorjeta, além de outros dados.

In [96]:
import seaborn as sns

In [97]:
df = sns.load_dataset('tips')

In [98]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Qual o valor médio das gorjetas?

In [99]:
st.median(df['tip'])

2.9

Qual é a mediana das gorjetas?

In [100]:
st.mode(df['tip'])

2.0

Qual é o desvio padrão das gorjetas?

In [101]:
st.stdev(df['tip'])

1.383638189001182

Vamos agora obter os quartis das gorjetas.

In [102]:
st.quantiles(df['tip'])

[2.0, 2.9, 3.5875000000000004]

Vamos agora gerar um boxplot do valor das gorjetas.

In [103]:
df.boxplot(column='tip')

É possível gerar boxplots dos dados de uma coluna agrupados pelos dados de outra. Por exemplo, podemos gerar um boxplot das gorjetas por dia da semana, ou por sexo do pagante.

In [104]:
df.boxplot(by='day', column='tip')

In [105]:
df.boxplot(by='sex', column='tip')

Exercício 1: \
A. Obtenha a média, a mediana e o desvio padrão do valor da conta (total_bill).

In [106]:
df['total_bill'].mean()

19.78594262295082

In [107]:
df['total_bill'].mode()

0    13.42
Name: total_bill, dtype: float64

In [108]:
st.stdev(df['total_bill'])

8.902411954856856

B. Obtenha os quartis do valor total da conta.

In [109]:
st.quantiles(df['total_bill'])

[13.302499999999998, 17.795, 24.2225]

C. Gere um boxplot de total_bill.

In [110]:
df.boxplot(column=['total_bill'])

D. Gere um boxplot de total_bill por sexo.

In [111]:
df.boxplot(by='sex', column=['total_bill'])

E. Gere um boxplot de total_bill por size (nro de pessoas na mesa).

In [112]:
df.boxplot(by='size', column=['total_bill'])

Exercício 2 \
Considere o dataset 'titanic' do Seaborn. \
a) Obtenha a média, a mediana e o desvio padrão de homens e mulheres. \
b) gere um boxplot comparando as idades de homens e mulheres

In [113]:
df2 = sns.load_dataset('titanic')

In [116]:
h = df2[df2.sex == 'male'].age
m = df2[df2.sex == 'female'].age

In [120]:
# media das idades homem
h.mean()
# media das idades das mulheres
m.mean()

27.915708812260537

In [124]:
# Desvio padrão
h.std()
m.std()

14.110146457544129

In [125]:
df2.boxplot(by='sex', column='age')